.button {
    color: white;
    font-size: 18px;
    background: purple;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.wrapper > div {
    background: #333;
    padding: 30px;
    color: wheat;
    border-radius: 10px;
}

body {
    text-align: center;
}